﻿@{
    ViewBag.Title = "OpenAuth";
}

@section Head{
    <style type="text/css">
        #openIdDiv
        {
            width:500px;
            float:left;
            text-align:center;
        }
        #openIdDiv img
        {
            width:50px;
            height:50px;
        }
        #openIdResults
        {
            position:relative;
            left:10px;
            top:5px;
        }
        .error
        {
            color:Red;
        }
    </style>
}

@section scripts{
    <script>
        $(function () {
            var submitForm = function (openidurl) {
                $('#openid_identifier').val(openidurl);
                $('#openIdForm').submit();
            };

            $('.btn-google').click(function () {
                submitForm("https://www.google.com/accounts/o8/id");
            });

            $('.btn-yahoo').click(function () {
                submitForm("https://me.yahoo.com");
            });
        });
    </script>
}

<h2>Login using an OpenId provider</h2>

<div id="openIdDiv">
    @using (Html.BeginForm("Logon", "OpenId", FormMethod.Post, new { id = "openIdForm", @class="well" }))
    { 
        @Html.Hidden("openid_identifier", "");
        <a href="#" class="btn btn-google"><img src='@Url.Content("~/Content/features/openid/google-icon.png")' /></a>
        <a href="#" class="btn btn-yahoo"><img src='@Url.Content("~/Content/features/openid/yahoo-icon.png")' /></a>
    }
</div>
 
<div id="openIdResults">
    @if (TempData.ContainsKey("error"))
    { 
        <span class="error">@TempData["error"]</span>
    }
    @if (TempData.ContainsKey("email"))
    { 
        <span>Email: </span><b>@TempData["email"]</b> <br /><br />
        <span>Name: </span><b>@TempData["name"]</b>
    }

</div>
