﻿@{
    ViewBag.Title = "Twitter";
}

@section head{
    <link href="@Url.Content("~/Content/features/twitter/twitter.css")" rel="stylesheet" type="text/css" />    
    <script type="text/template" id="tweet-template">
        <div class='tweet-item tweet-content round'>
            <div class='tweet-user round'>
                <img class='round' src='<%- user.profile_image_url %>' />
            </div>
            <div class='tweet-text'>
                <%- text %>
            </div>
        </div>
    </script>

}

@section scripts{
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script>window.Backbone || document.write('<script src="@Url.Content("~/Content/lib/backbone-0.9.2.min.js")"><\/script>')</script>

    <script type="text/javascript" src='@Url.Content("~/Content/lib/jquery.isotope.min.js")'></script>
    <script src='@Url.Content("~/Content/features/twitter/twitter-backbone.js")' type="text/javascript"></script>
}

<br />
<div id="twitterContainer">
    <form id="userForm" class="form-inline">
        <span>Twitter user:</span>
        <input type="text" id="userTextbox" placeholder="Tweeter username" value="federico_silva" />
        <input type="submit" class="btn btn-primary" value="Load" />
    </form>

    <div id="tweetList">
    </div>

    <div id="tweetSpinner">
        <img src='@Url.Content("~/Content/images/spinnerLarge.gif")' />
    </div>
</div>


