﻿
<div style="text-align:center;">
    <a href="https://dl.dropbox.com/u/10971155/wunderlist-chrome-extension.crx">Install extension</a>
    <br />
    <br />
    <img src="@Url.Content("~/Content/images/wunderlist-extension.png")" />
</div>
