﻿@using WebSamples.Models.ViewModels
@using WebSamples
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @Farmas.Modenizr(Url.Content("~/Content"))
    @RenderSection("head", required: false)
</head>

<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="width:auto;">
                <a href="/" class="brand">Federico's Sandbox</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        @{ 
                            var currentAction = (string) this.Request.RequestContext.RouteData.Values["action"];
                            var currentController = (string)this.Request.RequestContext.RouteData.Values["controller"]; 
                            
                        }
                        <li class="@(currentAction.Equals("About") ? "active" : "")">
                            @Html.ActionLink("About", "About", "About")
                        </li>
                        <li class="@(currentController.Equals("Samples") ? "active" : "")">
                            @Html.ActionLink("Samples", "Single", "Samples")
                        </li>
                        <li class="@(currentAction.Equals("Attributions") ? "active" : "")">
                            @Html.ActionLink("Attributions", "Attributions", "About")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul class="nav nav-tabs nav-stacked">
                    @foreach (NavigationInfo section in ViewBag.Sections)
                    {
                        <li class="@(section.IsActive ? "active" : "")">
                            @Html.ActionLink(section.Title, section.Action, section.Controller)    
                        </li>
                    }
                </ul>
            </div>
            <div class="span10">
                <ul class="nav nav-tabs">
                    @foreach (NavigationInfo tab in ViewBag.Tabs)
                    {
                        <li class="@(tab.IsActive ? "active" : "")">
                            @Html.ActionLink(tab.Title, tab.Action, tab.Controller)    
                        </li>
                    }
                </ul>
         
                @RenderBody()
            </div>
        </div>
    </div>

    @Farmas.JQuery(Url.Content("~/Content"))

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script>window._ || document.write('<script src="@Url.Content("~/Content/lib/underscore-1.3.1.js")"><\/script>')</script>

    @RenderSection("scripts", required:false)
</body>
</html>
