﻿@{
    ViewBag.Title = "Lucene";
}

@section head{
    <style>
        .highlight
        {
            background-color: Yellow;
            font-weight: bold;
        }
    </style>
}

@section scripts{
    <script src='@Url.Content("~/Content/lib/jquery.ba-throttle-debounce.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Content/features/lucene/lucene.js")' type="text/javascript"></script>
}

<h2>Search Asp.Net Web Stack Files</h2>
<input type="text" id="searchTextbox" class="span5" placeholder="Separate terms by spaces" />

<ul id="fileList">
</ul>