﻿#twitterContainer
{
    width:750px;
    margin-left:auto;
    margin-right:auto;
}

#userForm
{
    text-align:center;    
}

#tweetSpinner
{
    width:700px;
    text-align: center;
}

.round
{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -khtml-border-radius:10px;
}

.tweet-padding
{
    
    width:300px;
    height:40px;
    margin:10px;
}

.tweet-error
{
    background-color:Red;
    width:300px;
    height:70px;
    margin:10px;
    padding:10px;
}

.tweet-content
{
    background-color:#95C5F5;
    width:300px;
    height:70px;
    margin-left:15px;
    margin-right:15px;
    padding:10px;
}

.tweet-content img
{
    float:left;
}

.tweet-text
{
    padding-left: 10px;
    overflow:hidden;
}

.tweet-content-right-arrow:after
{
    content:"";
    position:absolute;
    right:-15px;
    top:25px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-left: 15px solid #95C5F5;
}

.tweet-content-left-arrow:before
{
    content:"";
    position:absolute;
    left:-15px;
    top:25px;
    border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid #95C5F5; 
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}