﻿@{
    ViewBag.Title = "About";
}

<p>
    Hi, my name if <a href="http://federicosilva.net">Federico Silva Armas</a> and this website is a personal sandbox with small projects to learn and play with web technologies. 
</p>

<p>
        If interested, the source is publicly available on <a href="https://bitbucket.org/farmas/farmas-sandbox">Bitbucket</a>.
</p>
