﻿@{
    ViewBag.Title = "Attributions";
}

<ul>
    <li>
        Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.    
    </li>
</ul>
