﻿
@section head {
    <link href="@Url.Content("~/Content/features/canvas-snake/canvas-snake.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .score
        {
            display:inline-block;
        }
        .left-score
        {
            margin-right:100px;
        }
        .right-score
        {
            margin-left:100px;
        }
        .left-instructions
        {
            display: inline-block;
            margin-right: 100px;
        }
        .right-instructions
        {
            display: inline-block;
            margin-left: 100px;
        }
    </style>
}

@section scripts
{
    <script src="@Url.Content("~/Content/features/canvas-snake/canvas-snake.js")" type="text/javascript"></script>
     <script>
         $(document).ready(function () {
             var game = farmas.createMultiGame({
                 setScore: function (score1, score2) {
                     $('#snake1-score').text(score1);
                     $('#snake2-score').text(score2);
                 }
             });

             $('body').keydown(function (e) {
                 return game.handleKeydown(e);
             });

             $('#snake-restart').click(function () {
                 game.start();
             });

             game.start();

         });
    </script>
}

<div class="snake-game">
    <div class="snake-instructions">
        <div class="left-instructions">
            Blue Player: W, A, S, D
        </div>
        <div class="right-instructions">
            Green Player: <font face="symbol">&#220;</font>, <font face="symbol">&#221;</font>, <font face="symbol">&#222;</font> and <font face="symbol">&#223;</font>
        </div>
    </div>
    <canvas id="game" width="820" height="420"></canvas>
    <div class="snake-controls">
        <div class="left-score score">
            Blue Score: <span id="snake1-score">0</span>
        </div>
        <button class="btn btn-primary" id="snake-restart">Restart</button>
        <div class="right-score score">
            Green Score: <span id="snake2-score">0</span>
        </div>
    </div>
</div>

