body
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0;
}

.spinnerRow
{
    height: 70px;
    padding-top:5px;
    padding-bottom:5px;
}

.spinnerRow td
{
    text-align:center;
    background-image: url('/Content/images/spinnerLarge.gif');
    background-repeat:no-repeat;
    background-position:center;
}